* {
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: #333;
	height: 40px;
	line-height: 40px;
	text-align: left;
	display: block;
	padding-left: 10px;
	color: white;
}

a:hover {
	color: white;
	background: #28333D;
}
/*a:hover{background:white;color:#34495E;}*/
.action {
	color: white;
	background: #28333D;
}